// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cont{
	padding-top:30px;
	text-align: center;
	background-color: #FFFFE0;
	hr{
	   width:50%;
	}
}