<div class="bg">  
  <div class="header">
  	<h1>Nova Conta</h1>
  </div>	  
  <div class="center">
  	<%= render 'form' %>
  	<div class="btn">
  	  <%= link_to 'Voltar', accounts_path %>
  	</div>
  </div>
</div>  

